.description {
  display: flex;
  flex-direction: column;
  max-width: 990px;
  margin: 92px auto;
}

.description__title {
  font-family: "Inter black", sans-serif;
  font-size: 54px;
  line-height: 1.1;
  max-width: 830px;
  margin: 0;
  margin-bottom: 40px;
}

.description__paragraph {
  max-width: 740px;
  margin: 0;
  font-size: 24px;
  line-height: 1.4;
}

.description__paragraph_quote_left {
  text-align: left;
}

.description__paragraph_author_right {
  text-align: right;
  margin-top: 10px;
}

.description__paragraph_size_s {
  font-size: 16px;
  margin-top: 32px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .description {
    max-width: 290px;
    margin: 64px auto;
  }

  .description__title {
    font-size: 32px;
    line-height: 1.1;
  }

  .description__paragraph {
    line-height: 1.2;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .description {
    max-width: 720px;
    margin-top: 90px;
    margin-bottom: 88px;
  }

  .description__title {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .description__paragraph_author_right {
    margin-top: 26px;
  }
}
